version: "3"

services:
  web:
    container_name: web
    build:
      context: .
      dockerfile: ./apps/web/Dockerfile
    restart: always
    ports:
      - 3000:80
    environment:
      - VITE_APP_BASE_API=/prod-api
    networks:
      - app_network
  api:
    container_name: api
    build:
      context: .
      dockerfile: ./apps/api/Dockerfile
    restart: always
    ports:
      - 3001:7071
      - 3002:7072
    environment:
      # 修正 MySQL 连接字符串中的端口
      - DATABASE_URL=mysql://root:123456@mysql:3306/nest-ruoyi-prisma
      - SERVER_PORT=7071
      - WS_PORT=7072
      - WS_PATH=/ws-api
      - SWAGGER_PATH=swagger-api
      - MYSQL_HOST=mysql
      # 修正 MySQL 容器内部端口
      - MYSQL_PORT=3306
      - MYSQL_DATABASE=nest-ruoyi-prisma
      - MYSQL_USERNAME=root
      - MYSQL_PASSWORD=123456
      - MYSQL_ROOT_PASSWORD=123456
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=123456
      - REDIS_DB=0
    depends_on:
      - mysql
      - redis
    networks:
      - app_network

  mysql:
    container_name: mysql
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=123456
      - MYSQL_DATABASE=nest-ruoyi-prisma
    ports:
      - 3366:3306
    volumes:
      - ./mysql-data:/var/lib/mysql
      - ./apps/api/deploy/sql:/docker-entrypoint-initdb.d
    networks:
      - app_network

  redis:
    container_name: redis
    image: redis:6.2
    restart: always
    command: redis-server --requirepass 123456
    ports:
      - 6379:6379
    volumes:
      - ./redis-data:/data
    networks:
      - app_network

networks:
  app_network:
    external: false